div#switch-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    z-index: 9999;
}

button#switch {
    background-color: var(--switch-dark-color);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

button#switch::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 10s ease-in-out all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

button#switch.active {
    background: var(--switch-light-color);
    color: black;
}

button#switch.active::after {
    background: var(--switch-light-color);
    color: black;
    right: 0;
    left: unset;
}

button#switch span {
    background: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color : white;
}