main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

main > aside {
    width: 100%;
}

main section {
    width: 100%;
    margin-bottom: 1.2rem;
}

main aside #cv-skills-desktop, 
main aside #cv-recognition-desktop {
    display: none;
}

main section h2#title{
    background-color: var(--main-bg-color);
    text-transform: uppercase;
    color: white;
    text-shadow: 2px -1px 2px black;
    text-align: center;
    letter-spacing: 1px;
    padding: 1rem;
    width: 100%;
    margin-bottom: 0.4rem;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 0px 21px 3px rgba(196,196,196,0.89);
}

/* Section Icons */
main section h2#title i{
    margin-left: 10px;
}

main section .section-content {
    padding: 1rem;
    margin-bottom: 0.4rem;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    background-color: var(--secondaty-bg-color-light);
}

/* Sections content grid container */
main section .section-content-grid {
    display: grid;                  
    grid-template-areas: 
    "period job job job"
    "tasks tasks tasks tasks";
    grid-gap: 15px;
}

/* All sections content */
main section .section-content-grid > div{
    padding: 1rem;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    color: white;
}

/* Period box */
main section .section-content-grid .period-box {
    display: flex;
    grid-gap: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: period;              
}

/* Job Box */
main section .section-content-grid .job-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    grid-area: job;      
    line-height: 1.4rem;  
}

/* Some Tasks box */
main section .section-content-grid .some-task-box {
    grid-area: tasks;  
    line-height: 1.4rem;  
}

