main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

main > section {
    width: 100%;
    margin-bottom: 1.2rem;
}

main > section > h2#title{
    background-color: var(--main-bg-color);
    text-transform: uppercase;
    color: white;
    text-shadow: 2px -1px 2px black;
    text-align: center;
    letter-spacing: 1px;
    padding: 1rem;
    width: 100%;
    margin-bottom: 0.4rem;
    border-radius: 5px 5px 0px 0px;
}

main > section .section-content {
    padding: 1rem;
    margin-bottom: 0.4rem;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    background-color: var(--secondaty-bg-color-light);
    border: 1px solid black;
}

/* Sections content grid container */
main > section .section-content-grid {
    display: grid;                  
    grid-template-areas: 
    "period job job job"
    "tasks tasks tasks tasks";
    grid-gap: 15px;
}

/* All sections content */
main > section .section-content-grid > div{
    padding: 1rem;
}

/* Period box */
main > section .section-content-grid .period-box {
    display: grid;    
    grid-area: period;              
    border: 1px solid red;
}

/* Job Box */
main > section .section-content-grid .job-box {
    display: grid;     
    grid-area: job;             
    border: 1px solid blue;
}

/* Some Tasks box */
main > section .section-content-grid .some-task-box {
    display: grid;
    grid-area: tasks;                  
    border: 1px solid gold;
}